<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand">FH Memory</a>
        <ul class="nav navbar-nav" routerLinkActive="active">
            <li class="nav-item"><a class="nav-link" routerLink="/login">Login</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/signup">SignUp</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/puzzle">Puzzle</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/profile">Profile</a></li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>
